* {
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* begin main styling for 420countdown */
body {
  background: linear-gradient(
    rgba(48, 52, 42, 0.8), 
    rgba(48, 52, 42, 0.8)
    ),
  url('../img/page.png');
  /*overflow-x: hidden;*/
}

#main-navbar {
	height: 40px; /* remove this when adding links to navbar */
  background: #557920;
  background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -webkit-linear-gradient(top,#5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -moz-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -o-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -ms-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  -svg-background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  border-bottom:1px solid #B0DA72;
}

#inner-main-navbar ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#inner-main-navbar ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 1% 3% 1% 3%;
  border-right: 2px solid #B0DA72;
  margin-left: -11px;
  color: #B0DA72;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 24px;
}

#inner-main-navbar ul li:hover{
  color: black;
  background: #97CE46;
  background: linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  background: -webkit-linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  background: -moz-linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  background: -o-linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  background: -ms-linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  background: linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
  -svg-background: linear-gradient(top, #9CD04E 0, #B2DB76 15%, #A0D256 50%, #8EC936 50%, #86BD32 50%, #8EC936 71%, #97CE46 100%) no-repeat;
}

#rightmost-nav-link {
  border-right: none !important;
}

#inner-main-navbar ul li a {
  text-decoration: none;
}

#countdown-wrapper {
  color: white;
  text-align: center;
  text-shadow: black 5px 5px 8px;  /* color, vert, hor, blur */
  /*font-size: 164px;*/
  /*font-family: Oswald, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;*/
  font-size: 135px;
  font-family: Kranky;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  padding: 10px;
}

.main-content-el {
  display: inline-block;
  width: 30%;
  margin: 10px;
  height: 100%;
  text-align: center;
  /*position: relative;*/
}

.main-content-el > p {
  /* concatenated weed url strings */
  margin: 5px 5px 20px 5px;
  background: #7DB12E;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #7DB12E;
  display: inline-block;
  /*position: absolute;*/
  /*top: 0;*/
}

/* innermost amazon thingy */
#amzn_assoc_search_container_adunit0_1 {
  border: 10px solid black;
  border-radius: 10px;
}

.rando-image {
  max-height: 33%;
  max-width: 100%;
  margin-right: 10%;
  margin-left: 10%;
  border: 10px solid black;
  border-radius: 10px;
  transition: box-shadow 0.6s;
}

.rando-image:hover {
  box-shadow: 0 0 10px 5px red;
}

#random-image-1 {
}

#random-image-2 {
}

#amazon-div {
	text-align: center;
	line-height: 100%;
	position: relative;
	top: 0;
	vertical-align: top;
}

#amazon-script {

}

#footer-separator {
  border-top: 3px dashed #B0DA72;
}

footer {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  bottom: 0px;
}