* {
  padding: 0;
  margin: 0;
}

/* begin main styling for 420countdown */
body {
  background: linear-gradient(
      rgba(48, 52, 42, 0.8), 
      rgba(48, 52, 42, 0.8)
    ),
  url('../img/page.png');

  font-size: 38px;
  font-family: Oswald, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
}

#main-navbar {
  background: #557920;
  background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -webkit-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -moz-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -o-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: -ms-linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  -svg-background: linear-gradient(top, #5B8122 0, #78A92D 15%, #618924 50%, #415D19 50%, #557920 100%) no-repeat;
  border-bottom:1px solid #B0DA72;
}
#inner-main-navbar ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#inner-main-navbar ul li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#header-bar-image {

}

#footer-separator {
  border-top: 3px dashed #B0DA72;
}

footer {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  bottom: 0;
}